/* Default dark mode styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #121212; /* Dark background */
    color: #ffffff; /* Light text color */
    transition: all 0.3s ease; /* Smooth transition for background and text color */
}

/* Light mode styles */
body.light-mode {
    background-color: #ffffff; /* Light background */
    color: #121212; /* Dark text */
}

/* Styling for headers */
h1, h2, h3 {
    text-align: center;
    color: #ffffff;
}

/* Styling for buttons */
button {
    background-color: #E8B96D; /* Gold color for button */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    margin: 5px;
    width: 100%;
}

/* Button hover effect */
button:hover {
    background-color: #d8a162; /* Slightly darker gold on hover */
}

/* Links (gold color) */
a {
    color: #E8B96D; /* Gold color for links */
    text-decoration: none;
    font-weight: bold;
}

/* Links hover effect */
a:hover {
    text-decoration: underline;
}

/* Container for main content */
.container {
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
    background: #1e1e1e; /* Dark background for container */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Darker shadow */
    color: #ffffff; /* Light text color inside container */
    text-align: center;
}

/* Button group to stack buttons vertically */
.button-group {
    display: flex;
    flex-direction: column; /* Vertically stack buttons */
    justify-content: center;
    margin-top: 20px;
    flex-wrap: wrap;
    width: 100%;
}

/* Meme contest link button */
.meme-contest-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #E8B96D; /* Gold color */
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;
}

.meme-contest-link:hover {
    background-color: #d8a162; /* Darker gold on hover */
}

/* Styling for the disclaimer */
.disclaimer {
    background-color: #000;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.disclaimer p {
    margin: 0;
}

@media (max-width: 600px) {
    .container {
        width: 100%;
        margin: 10px;
    }

    .disclaimer {
        font-size: 12px;
    }
}

/* Animation for images */
.image {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s, transform 1s;
    filter: blur(3px);
}

.image.show {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
}