/* Global styles for light mode */
body.light-mode {
    background-color: #ffffff; /* Light background */
    color: #121212; /* Dark text for light mode */
}

/* Global styles for dark mode */
body.dark-mode {
    background-color: #121212; /* Dark background */
    color: #ffffff; /* Light text for dark mode */
}

/* Container styles for light and dark mode */
.container.light-mode {
    background-color: #f4f4f4; /* Light background for container */
    color: #121212; /* Dark text */
}

.container.dark-mode {
    background-color: #1e1e1e; /* Dark background for container */
    color: #ffffff; /* Light text */
}

/* Button for mode toggle */
.mode-toggle {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #E8B96D;
    border: none;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.mode-toggle:hover {
    background-color: #d8a162;
}